{%extends 'base.html' %}
{% block content %}

        <section id="about-head" class="section-p1">
            <img src="/static/img/about/a6.jpg" alt="">
            <div>
                <h2>Who We Are?</h2>
                <p>
                    Karma Blade stands as a premier e-commerce destination, embodying a
                    harmonious blend of fashion and usability.Its extensive product 
                    catalog caters to diverse tastes, providing a distinctive and enjoyable 
                    shopping venture.The platform's commitment to combining chic aesthetics
                    with seamless navigation defines a new standard in online retail, inviting 
                    users to explore a curated realm where style effortlessly converges with convenience.
                    <br><br>
                    <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">
                        "Karma Blade: Fusion of fashion, functionality, and delightful online shopping." 
                    </marquee>
                </p>
            </div>
        </section>

 {% endblock %}