{%extends 'base.html' %}
{% block content %}

        <section id="cart" class="section-p1">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Remove</td>
                        <td>Image</td>
                        <td>Product</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>Subtotal</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <i class="far fa-times-circle"></i></td>
                        <td> <img src="/static/img/products/f1.jpg" alt=""></td>
                        <td> Cartoon Astraunaut Tshirts</td>
                        <td>$118.19</td>
                        <td><input type="number" name="" id="" value="1"></td>
                        <td>$118.19</td>

                    </tr>
                    <tr>
                        <td> <i class="far fa-times-circle"></i></td>
                        <td> <img src="/static/img/products/f2.jpg" alt=""></td>
                        <td> Cartoon Astraunaut Tshirts</td>
                        <td>$118.19</td>
                        <td><input type="number" name="" id="" value="1"></td>
                        <td>$118.19</td>

                    </tr>
                    <tr>
                        <td> <i class="far fa-times-circle"></i></td>
                        <td> <img src="/static/img/products/f3.jpg" alt=""></td>
                        <td> Cartoon Astraunaut Tshirts</td>
                        <td>$118.19</td>
                        <td><input type="number" name="" id="" value="1"></td>
                        <td>$118.19</td>

                    </tr>
                </tbody>
            </table>
        </section>

        <section id="cart-add" class="section-p1">
            <div id="coupon">
                <h3>Apply Coupon</h3>
                <div>
                    <input type="text" name="" id="" placeholder="Enter your coupon">
                    <button class="normal">Apply</button>
                </div>
            </div>
            <div id="subtotal">
                <h3>Cart Totals</h3>
                <table>
                    <tr>
                        <td>Cart Subtotals</td>
                        <td>$ 335</td>
                    </tr>
                    <tr>
                        <td>Shipping</td>
                        <td> Free</td>
                    </tr>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><strong>$ 335</strong></td>
                    </tr>
                </table>
                <button class="normal"> Proceed to checkout</button>
            </div>
        </section>
        <script>
            var MainImg=document.getElementById("MainImg");
            var smallimg = document.getElementsByClassName("small-img");

            smallimg[0].onclick = function(){
                MainImg.src=smallimg[0].src;
            }
            smallimg[1].onclick = function(){
                MainImg.src=smallimg[1].src;
            }
            smallimg[2].onclick = function(){
                MainImg.src=smallimg[2].src;
            }
            smallimg[3].onclick = function(){
                MainImg.src=smallimg[3].src;
            }
        </script>
        <script src="script.js"></script>

{% endblock %}
        
   